In [16]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-10-20 19:02:51,-23.1203,-134.9692,70.29,76,100,24.58
1,1,Broken Hill,AU,2022-10-20 19:02:51,-31.9500,141.4333,60.78,94,49,4.23
2,2,Albany,US,2022-10-20 18:59:59,42.6001,-73.9662,56.91,37,14,1.01
3,3,Kapaa,US,2022-10-20 19:02:52,22.0752,-159.3190,75.52,82,100,13.80
4,4,Port Alfred,ZA,2022-10-20 19:02:53,-33.5906,26.8910,63.18,87,91,1.01

In [18]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))